.elementor-268 .elementor-element.elementor-element-4f2be9da>.elementor-container {
	max-width: 1500px;
}

.elementor-268 .elementor-element.elementor-element-4f2be9da {
	padding: 130px 0px 91px 0px;
}

.elementor-268 .elementor-element.elementor-element-3ab02496>.elementor-element-populated {
	margin: 0px 0px 0px 0px;
	--e-column-margin-right: 0px;
	--e-column-margin-left: 0px;
	padding: 0px 40px 0px 40px;
}

.elementor-268 .elementor-element.elementor-element-18e43b1 img {
	opacity: 0.67;
}

.elementor-268 .elementor-element.elementor-element-18e43b1 {
	width: 76%;
	max-width: 76%;
	top: 156px;
	z-index: -1;
}

body:not(.rtl) .elementor-268 .elementor-element.elementor-element-18e43b1 {
	left: -803px;
}

body.rtl .elementor-268 .elementor-element.elementor-element-18e43b1 {
	right: -803px;
}

.elementor-268 .elementor-element.elementor-element-b0c2333 img {
	width: 100%;
	opacity: 1;
	filter: brightness(100%) contrast(100%) saturate(100%) blur(4.9px) hue-rotate(0deg);
}

.elementor-268 .elementor-element.elementor-element-b0c2333 {
	width: 100%;
	max-width: 100%;
	top: -83px;
	z-index: -1;
}

body:not(.rtl) .elementor-268 .elementor-element.elementor-element-b0c2333 {
	right: -546.9px;
}

body.rtl .elementor-268 .elementor-element.elementor-element-b0c2333 {
	left: -546.9px;
}

.elementor-268 .elementor-element.elementor-element-4b7aa712>.elementor-element-populated {
	padding: 0px 0px 0px 0px;
}

.elementor-268 .elementor-element.elementor-element-1fff57ca {
	text-align: left;
}

.elementor-268 .elementor-element.elementor-element-1fff57ca img {
	width: 145px;
}

.elementor-268 .elementor-element.elementor-element-4e86b2f5>.elementor-element-populated {
	padding: 0px 0px 0px 0px;
}

.elementor-268 .elementor-element.elementor-element-62dd874 .elementor-heading-title {
	color: var(--e-global-color-secondary);
	font-family: "stratos-bold", Sans-serif;
	font-size: 40px;
	font-weight: 400;
}

.elementor-268 .elementor-element.elementor-element-62dd874>.elementor-widget-container {
	padding: 0px 14px 0px 0px;
}

.elementor-268 .elementor-element.elementor-element-41327a1e {
	--spacer-size: 107px;
}

.elementor-268 .elementor-element.elementor-element-6e0f52ad a {
	color: #737373;
}

.elementor-268 .elementor-element.elementor-element-6e0f52ad a:hover {
	color: var(--e-global-color-secondary);
}

.elementor-268 .elementor-element.elementor-element-61fba7f3>.elementor-element-populated {
	margin: 0px 0px 0px 0px;
	--e-column-margin-right: 0px;
	--e-column-margin-left: 0px;
	padding: 0px 0px 0px 0px;
}

.elementor-268 .elementor-element.elementor-element-79e902ab .elementor-heading-title {
	color: var(--e-global-color-secondary);
	font-family: "Montserrat", Sans-serif;
	font-size: 17px;
	font-weight: bold;
}

.elementor-268 .elementor-element.elementor-element-2dbec93 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child) {
	padding-bottom: calc(7px/2);
}

.elementor-268 .elementor-element.elementor-element-2dbec93 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child) {
	margin-top: calc(7px/2);
}

.elementor-268 .elementor-element.elementor-element-2dbec93 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item {
	margin-right: calc(7px/2);
	margin-left: calc(7px/2);
}

.elementor-268 .elementor-element.elementor-element-2dbec93 .elementor-icon-list-items.elementor-inline-items {
	margin-right: calc(-7px/2);
	margin-left: calc(-7px/2);
}

body.rtl .elementor-268 .elementor-element.elementor-element-2dbec93 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
	left: calc(-7px/2);
}

body:not(.rtl) .elementor-268 .elementor-element.elementor-element-2dbec93 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
	right: calc(-7px/2);
}

.elementor-268 .elementor-element.elementor-element-2dbec93 {
	--e-icon-list-icon-size: 6px;
	--e-icon-list-icon-align: right;
	--e-icon-list-icon-margin: 0 0 0 calc(var(--e-icon-list-icon-size, 1em) * 0.25);
}

.elementor-268 .elementor-element.elementor-element-2dbec93 .elementor-icon-list-text {
	color: var(--e-global-color-4e75905);
	padding-left: 0px;
}

.elementor-268 .elementor-element.elementor-element-2dbec93 .elementor-icon-list-item:hover .elementor-icon-list-text {
	color: var(--e-global-color-secondary);
}

.elementor-268 .elementor-element.elementor-element-2dbec93 .elementor-icon-list-item>.elementor-icon-list-text,
.elementor-268 .elementor-element.elementor-element-2dbec93 .elementor-icon-list-item>a {
	font-family: "Montserrat", Sans-serif;
	font-size: 15px;
	font-weight: bold;
}

.elementor-268 .elementor-element.elementor-element-660e2f9a .elementor-accordion-item {
	border-width: 1px;
	border-color: var(--e-global-color-cdebdce);
}

.elementor-268 .elementor-element.elementor-element-660e2f9a .elementor-accordion-item .elementor-tab-content {
	border-width: 1px;
	border-top-color: var(--e-global-color-cdebdce);
}

.elementor-268 .elementor-element.elementor-element-660e2f9a .elementor-accordion-item .elementor-tab-title.elementor-active {
	border-width: 1px;
	border-bottom-color: var(--e-global-color-cdebdce);
}

.elementor-268 .elementor-element.elementor-element-660e2f9a .elementor-accordion-icon,
.elementor-268 .elementor-element.elementor-element-660e2f9a .elementor-accordion-title {
	color: var(--e-global-color-secondary);
}

.elementor-268 .elementor-element.elementor-element-660e2f9a .elementor-accordion-icon svg {
	fill: var(--e-global-color-secondary);
}

.elementor-268 .elementor-element.elementor-element-660e2f9a .elementor-active .elementor-accordion-icon,
.elementor-268 .elementor-element.elementor-element-660e2f9a .elementor-active .elementor-accordion-title {
	color: var(--e-global-color-secondary);
}

.elementor-268 .elementor-element.elementor-element-660e2f9a .elementor-active .elementor-accordion-icon svg {
	fill: var(--e-global-color-secondary);
}

.elementor-268 .elementor-element.elementor-element-660e2f9a .elementor-accordion-title {
	font-family: var(--e-global-typography-02de0db-font-family), Sans-serif;
	font-size: var(--e-global-typography-02de0db-font-size);
	font-weight: var(--e-global-typography-02de0db-font-weight);
	line-height: var(--e-global-typography-02de0db-line-height);
	letter-spacing: var(--e-global-typography-02de0db-letter-spacing);
	word-spacing: var(--e-global-typography-02de0db-word-spacing);
}

.elementor-268 .elementor-element.elementor-element-660e2f9a .elementor-tab-title {
	padding: 0px 0px 20px 0px;
}

.elementor-268 .elementor-element.elementor-element-660e2f9a .elementor-tab-title .elementor-accordion-icon i:before {
	color: #B0B0B0;
}

.elementor-268 .elementor-element.elementor-element-660e2f9a .elementor-tab-title .elementor-accordion-icon svg {
	fill: #B0B0B0;
}

.elementor-268 .elementor-element.elementor-element-660e2f9a .elementor-tab-content {
	color: var(--e-global-color-4e75905);
	font-family: var(--e-global-typography-02de0db-font-family), Sans-serif;
	font-size: var(--e-global-typography-02de0db-font-size);
	font-weight: var(--e-global-typography-02de0db-font-weight);
	line-height: var(--e-global-typography-02de0db-line-height);
	letter-spacing: var(--e-global-typography-02de0db-letter-spacing);
	word-spacing: var(--e-global-typography-02de0db-word-spacing);
	padding: 0px 0px 0px 0px;
}

.elementor-268 .elementor-element.elementor-element-660e2f9a>.elementor-widget-container {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}

.elementor-268 .elementor-element.elementor-element-494dd632 {
	--spacer-size: 29px;
}

.elementor-268 .elementor-element.elementor-element-1ab06fe9>.elementor-element-populated {
	margin: 0px 0px 0px 0px;
	--e-column-margin-right: 0px;
	--e-column-margin-left: 0px;
	padding: 0px 0px 0px 0px;
}

.elementor-268 .elementor-element.elementor-element-40175c5c .elementor-heading-title {
	color: var(--e-global-color-secondary);
	font-family: "Montserrat", Sans-serif;
	font-size: 17px;
	font-weight: bold;
}

.elementor-268 .elementor-element.elementor-element-8bf14a8 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child) {
	padding-bottom: calc(7px/2);
}

.elementor-268 .elementor-element.elementor-element-8bf14a8 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child) {
	margin-top: calc(7px/2);
}

.elementor-268 .elementor-element.elementor-element-8bf14a8 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item {
	margin-right: calc(7px/2);
	margin-left: calc(7px/2);
}

.elementor-268 .elementor-element.elementor-element-8bf14a8 .elementor-icon-list-items.elementor-inline-items {
	margin-right: calc(-7px/2);
	margin-left: calc(-7px/2);
}

body.rtl .elementor-268 .elementor-element.elementor-element-8bf14a8 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
	left: calc(-7px/2);
}

body:not(.rtl) .elementor-268 .elementor-element.elementor-element-8bf14a8 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
	right: calc(-7px/2);
}

.elementor-268 .elementor-element.elementor-element-8bf14a8 {
	--e-icon-list-icon-size: 6px;
	--e-icon-list-icon-align: right;
	--e-icon-list-icon-margin: 0 0 0 calc(var(--e-icon-list-icon-size, 1em) * 0.25);
}

.elementor-268 .elementor-element.elementor-element-8bf14a8 .elementor-icon-list-text {
	color: var(--e-global-color-4e75905);
	padding-left: 0px;
}

.elementor-268 .elementor-element.elementor-element-8bf14a8 .elementor-icon-list-item:hover .elementor-icon-list-text {
	color: var(--e-global-color-secondary);
}

.elementor-268 .elementor-element.elementor-element-8bf14a8 .elementor-icon-list-item>.elementor-icon-list-text,
.elementor-268 .elementor-element.elementor-element-8bf14a8 .elementor-icon-list-item>a {
	font-family: var(--e-global-typography-02de0db-font-family), Sans-serif;
	font-size: var(--e-global-typography-02de0db-font-size);
	font-weight: var(--e-global-typography-02de0db-font-weight);
	line-height: var(--e-global-typography-02de0db-line-height);
	letter-spacing: var(--e-global-typography-02de0db-letter-spacing);
	word-spacing: var(--e-global-typography-02de0db-word-spacing);
}

.elementor-268 .elementor-element.elementor-element-4a8a2efb {
	--spacer-size: 29px;
}

.elementor-268 .elementor-element.elementor-element-21bd4fae>.elementor-element-populated {
	margin: 0px 0px 0px 0px;
	--e-column-margin-right: 0px;
	--e-column-margin-left: 0px;
	padding: 0px 0px 0px 0px;
}

.elementor-268 .elementor-element.elementor-element-1339d80c .elementor-heading-title {
	color: var(--e-global-color-secondary);
	font-family: "Montserrat", Sans-serif;
	font-size: 17px;
	font-weight: bold;
}

.elementor-268 .elementor-element.elementor-element-43075b8f .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child) {
	padding-bottom: calc(7px/2);
}

.elementor-268 .elementor-element.elementor-element-43075b8f .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child) {
	margin-top: calc(7px/2);
}

.elementor-268 .elementor-element.elementor-element-43075b8f .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item {
	margin-right: calc(7px/2);
	margin-left: calc(7px/2);
}

.elementor-268 .elementor-element.elementor-element-43075b8f .elementor-icon-list-items.elementor-inline-items {
	margin-right: calc(-7px/2);
	margin-left: calc(-7px/2);
}

body.rtl .elementor-268 .elementor-element.elementor-element-43075b8f .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
	left: calc(-7px/2);
}

body:not(.rtl) .elementor-268 .elementor-element.elementor-element-43075b8f .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
	right: calc(-7px/2);
}

.elementor-268 .elementor-element.elementor-element-43075b8f {
	--e-icon-list-icon-size: 6px;
	--e-icon-list-icon-align: right;
	--e-icon-list-icon-margin: 0 0 0 calc(var(--e-icon-list-icon-size, 1em) * 0.25);
}

.elementor-268 .elementor-element.elementor-element-43075b8f .elementor-icon-list-text {
	color: var(--e-global-color-4e75905);
	padding-left: 0px;
}

.elementor-268 .elementor-element.elementor-element-43075b8f .elementor-icon-list-item:hover .elementor-icon-list-text {
	color: var(--e-global-color-secondary);
}

.elementor-268 .elementor-element.elementor-element-43075b8f .elementor-icon-list-item>.elementor-icon-list-text,
.elementor-268 .elementor-element.elementor-element-43075b8f .elementor-icon-list-item>a {
	font-family: var(--e-global-typography-02de0db-font-family), Sans-serif;
	font-size: var(--e-global-typography-02de0db-font-size);
	font-weight: var(--e-global-typography-02de0db-font-weight);
	line-height: var(--e-global-typography-02de0db-line-height);
	letter-spacing: var(--e-global-typography-02de0db-letter-spacing);
	word-spacing: var(--e-global-typography-02de0db-word-spacing);
}

.elementor-268 .elementor-element.elementor-element-4ccee58c {
	--spacer-size: 29px;
}

.elementor-268 .elementor-element.elementor-element-38c4f53d>.elementor-element-populated {
	margin: 0px 0px 0px 0px;
	--e-column-margin-right: 0px;
	--e-column-margin-left: 0px;
	padding: 0px 0px 0px 0px;
}

.elementor-268 .elementor-element.elementor-element-21611c7a {
	text-align: left;
}

.elementor-268 .elementor-element.elementor-element-21611c7a .elementor-heading-title {
	color: var(--e-global-color-secondary);
	font-family: "Montserrat", Sans-serif;
	font-size: 17px;
	font-weight: bold;
}

.elementor-268 .elementor-element.elementor-element-3b62e3b9 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child) {
	padding-bottom: calc(7px/2);
}

.elementor-268 .elementor-element.elementor-element-3b62e3b9 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child) {
	margin-top: calc(7px/2);
}

.elementor-268 .elementor-element.elementor-element-3b62e3b9 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item {
	margin-right: calc(7px/2);
	margin-left: calc(7px/2);
}

.elementor-268 .elementor-element.elementor-element-3b62e3b9 .elementor-icon-list-items.elementor-inline-items {
	margin-right: calc(-7px/2);
	margin-left: calc(-7px/2);
}

body.rtl .elementor-268 .elementor-element.elementor-element-3b62e3b9 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
	left: calc(-7px/2);
}

body:not(.rtl) .elementor-268 .elementor-element.elementor-element-3b62e3b9 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
	right: calc(-7px/2);
}

.elementor-268 .elementor-element.elementor-element-3b62e3b9 {
	--e-icon-list-icon-size: 6px;
	--e-icon-list-icon-align: right;
	--e-icon-list-icon-margin: 0 0 0 calc(var(--e-icon-list-icon-size, 1em) * 0.25);
}

.elementor-268 .elementor-element.elementor-element-3b62e3b9 .elementor-icon-list-text {
	color: var(--e-global-color-4e75905);
	padding-left: 0px;
}

.elementor-268 .elementor-element.elementor-element-3b62e3b9 .elementor-icon-list-item:hover .elementor-icon-list-text {
	color: var(--e-global-color-secondary);
}

.elementor-268 .elementor-element.elementor-element-3b62e3b9 .elementor-icon-list-item>.elementor-icon-list-text,
.elementor-268 .elementor-element.elementor-element-3b62e3b9 .elementor-icon-list-item>a {
	font-family: var(--e-global-typography-02de0db-font-family), Sans-serif;
	font-size: var(--e-global-typography-02de0db-font-size);
	font-weight: var(--e-global-typography-02de0db-font-weight);
	line-height: var(--e-global-typography-02de0db-line-height);
	letter-spacing: var(--e-global-typography-02de0db-letter-spacing);
	word-spacing: var(--e-global-typography-02de0db-word-spacing);
}

.elementor-268 .elementor-element.elementor-element-37b52ee2 {
	--spacer-size: 29px;
}

.elementor-268 .elementor-element.elementor-element-1e254d81 {
	--spacer-size: 48px;
}

.elementor-268 .elementor-element.elementor-element-35466b2>.elementor-element-populated {
	padding: 0px 0px 0px 0px;
}

.elementor-268 .elementor-element.elementor-element-2c012d2c .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child) {
	padding-bottom: calc(29px/2);
}

.elementor-268 .elementor-element.elementor-element-2c012d2c .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child) {
	margin-top: calc(29px/2);
}

.elementor-268 .elementor-element.elementor-element-2c012d2c .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item {
	margin-right: calc(29px/2);
	margin-left: calc(29px/2);
}

.elementor-268 .elementor-element.elementor-element-2c012d2c .elementor-icon-list-items.elementor-inline-items {
	margin-right: calc(-29px/2);
	margin-left: calc(-29px/2);
}

body.rtl .elementor-268 .elementor-element.elementor-element-2c012d2c .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
	left: calc(-29px/2);
}

body:not(.rtl) .elementor-268 .elementor-element.elementor-element-2c012d2c .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
	right: calc(-29px/2);
}

.elementor-268 .elementor-element.elementor-element-2c012d2c .elementor-icon-list-item:not(:last-child):after {
	content: "";
	height: 59%;
	border-color: var(--e-global-color-cdebdce);
}

.elementor-268 .elementor-element.elementor-element-2c012d2c .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child):after {
	border-top-style: solid;
	border-top-width: 2px;
}

.elementor-268 .elementor-element.elementor-element-2c012d2c .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:not(:last-child):after {
	border-left-style: solid;
}

.elementor-268 .elementor-element.elementor-element-2c012d2c .elementor-inline-items .elementor-icon-list-item:not(:last-child):after {
	border-left-width: 2px;
}

.elementor-268 .elementor-element.elementor-element-2c012d2c .elementor-icon-list-icon i {
	color: var(--e-global-color-secondary);
}

.elementor-268 .elementor-element.elementor-element-2c012d2c .elementor-icon-list-icon svg {
	fill: var(--e-global-color-secondary);
}

.elementor-268 .elementor-element.elementor-element-2c012d2c {
	--e-icon-list-icon-size: 16px;
	--e-icon-list-icon-align: right;
	--e-icon-list-icon-margin: 0 0 0 calc(var(--e-icon-list-icon-size, 1em) * 0.25);
}

.elementor-268 .elementor-element.elementor-element-2c012d2c .elementor-icon-list-text {
	color: var(--e-global-color-secondary);
	padding-left: 5px;
}

.elementor-268 .elementor-element.elementor-element-2c012d2c .elementor-icon-list-item:hover .elementor-icon-list-text {
	color: var(--e-global-color-4e75905);
}

.elementor-268 .elementor-element.elementor-element-2c012d2c .elementor-icon-list-item>.elementor-icon-list-text,
.elementor-268 .elementor-element.elementor-element-2c012d2c .elementor-icon-list-item>a {
	font-family: "Montserrat", Sans-serif;
	font-size: 12px;
	font-weight: bold;
}

.elementor-268 .elementor-element.elementor-element-2c012d2c>.elementor-widget-container {
	margin: 0px 0px 0px -5px;
	padding: 0px 0px 0px 0px;
}

.elementor-268 .elementor-element.elementor-element-fd0f9e4>.elementor-element-populated {
	padding: 0px 0px 0px 0px;
}

.elementor-268 .elementor-element.elementor-element-b1e0e91 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child) {
	padding-bottom: calc(3px/2);
}

.elementor-268 .elementor-element.elementor-element-b1e0e91 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child) {
	margin-top: calc(3px/2);
}

.elementor-268 .elementor-element.elementor-element-b1e0e91 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item {
	margin-right: calc(3px/2);
	margin-left: calc(3px/2);
}

.elementor-268 .elementor-element.elementor-element-b1e0e91 .elementor-icon-list-items.elementor-inline-items {
	margin-right: calc(-3px/2);
	margin-left: calc(-3px/2);
}

body.rtl .elementor-268 .elementor-element.elementor-element-b1e0e91 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
	left: calc(-3px/2);
}

body:not(.rtl) .elementor-268 .elementor-element.elementor-element-b1e0e91 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
	right: calc(-3px/2);
}

.elementor-268 .elementor-element.elementor-element-b1e0e91 .elementor-icon-list-item:not(:last-child):after {
	content: "";
	height: 59%;
	border-color: var(--e-global-color-cdebdce);
}

.elementor-268 .elementor-element.elementor-element-b1e0e91 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child):after {
	border-top-style: solid;
	border-top-width: 0px;
}

.elementor-268 .elementor-element.elementor-element-b1e0e91 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:not(:last-child):after {
	border-left-style: solid;
}

.elementor-268 .elementor-element.elementor-element-b1e0e91 .elementor-inline-items .elementor-icon-list-item:not(:last-child):after {
	border-left-width: 0px;
}

.elementor-268 .elementor-element.elementor-element-b1e0e91 .elementor-icon-list-icon i {
	color: #D7D7D7;
}

.elementor-268 .elementor-element.elementor-element-b1e0e91 .elementor-icon-list-icon svg {
	fill: #D7D7D7;
}

.elementor-268 .elementor-element.elementor-element-b1e0e91 {
	--e-icon-list-icon-size: 16px;
	--e-icon-list-icon-align: right;
	--e-icon-list-icon-margin: 0 0 0 calc(var(--e-icon-list-icon-size, 1em) * 0.25);
}

.elementor-268 .elementor-element.elementor-element-b1e0e91 .elementor-icon-list-text {
	color: var(--e-global-color-secondary);
	padding-left: 8px;
}

.elementor-268 .elementor-element.elementor-element-b1e0e91 .elementor-icon-list-item:hover .elementor-icon-list-text {
	color: var(--e-global-color-secondary);
}

.elementor-268 .elementor-element.elementor-element-b1e0e91 .elementor-icon-list-item>.elementor-icon-list-text,
.elementor-268 .elementor-element.elementor-element-b1e0e91 .elementor-icon-list-item>a {
	font-family: "Montserrat", Sans-serif;
	font-size: 12px;
	font-weight: bold;
}

.elementor-268 .elementor-element.elementor-element-b1e0e91>.elementor-widget-container {
	margin: 0px 0px 0px -5px;
	padding: 0px 0px 0px 0px;
}

.elementor-268 .elementor-element.elementor-element-561b2dbe>.elementor-element-populated {
	padding: 0px 0px 0px 0px;
}

.elementor-268 .elementor-element.elementor-element-34c27b8 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child) {
	padding-bottom: calc(29px/2);
}

.elementor-268 .elementor-element.elementor-element-34c27b8 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child) {
	margin-top: calc(29px/2);
}

.elementor-268 .elementor-element.elementor-element-34c27b8 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item {
	margin-right: calc(29px/2);
	margin-left: calc(29px/2);
}

.elementor-268 .elementor-element.elementor-element-34c27b8 .elementor-icon-list-items.elementor-inline-items {
	margin-right: calc(-29px/2);
	margin-left: calc(-29px/2);
}

body.rtl .elementor-268 .elementor-element.elementor-element-34c27b8 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
	left: calc(-29px/2);
}

body:not(.rtl) .elementor-268 .elementor-element.elementor-element-34c27b8 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
	right: calc(-29px/2);
}

.elementor-268 .elementor-element.elementor-element-34c27b8 .elementor-icon-list-item:not(:last-child):after {
	content: "";
	height: 59%;
	border-color: var(--e-global-color-cdebdce);
}

.elementor-268 .elementor-element.elementor-element-34c27b8 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child):after {
	border-top-style: solid;
	border-top-width: 2px;
}

.elementor-268 .elementor-element.elementor-element-34c27b8 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:not(:last-child):after {
	border-left-style: solid;
}

.elementor-268 .elementor-element.elementor-element-34c27b8 .elementor-inline-items .elementor-icon-list-item:not(:last-child):after {
	border-left-width: 2px;
}

.elementor-268 .elementor-element.elementor-element-34c27b8 {
	--e-icon-list-icon-size: 6px;
	--e-icon-list-icon-align: right;
	--e-icon-list-icon-margin: 0 0 0 calc(var(--e-icon-list-icon-size, 1em) * 0.25);
}

.elementor-268 .elementor-element.elementor-element-34c27b8 .elementor-icon-list-text {
	color: var(--e-global-color-secondary);
	padding-left: 0px;
}

.elementor-268 .elementor-element.elementor-element-34c27b8 .elementor-icon-list-item:hover .elementor-icon-list-text {
	color: var(--e-global-color-4e75905);
}

.elementor-268 .elementor-element.elementor-element-34c27b8 .elementor-icon-list-item>.elementor-icon-list-text,
.elementor-268 .elementor-element.elementor-element-34c27b8 .elementor-icon-list-item>a {
	font-family: "Montserrat", Sans-serif;
	font-size: 12px;
	font-weight: bold;
}

.elementor-268 .elementor-element.elementor-element-69643f26>.elementor-element-populated {
	padding: 0px 0px 0px 0px;
}

.elementor-268 .elementor-element.elementor-element-aa309b2 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child) {
	padding-bottom: calc(29px/2);
}

.elementor-268 .elementor-element.elementor-element-aa309b2 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child) {
	margin-top: calc(29px/2);
}

.elementor-268 .elementor-element.elementor-element-aa309b2 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item {
	margin-right: calc(29px/2);
	margin-left: calc(29px/2);
}

.elementor-268 .elementor-element.elementor-element-aa309b2 .elementor-icon-list-items.elementor-inline-items {
	margin-right: calc(-29px/2);
	margin-left: calc(-29px/2);
}

body.rtl .elementor-268 .elementor-element.elementor-element-aa309b2 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
	left: calc(-29px/2);
}

body:not(.rtl) .elementor-268 .elementor-element.elementor-element-aa309b2 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
	right: calc(-29px/2);
}

.elementor-268 .elementor-element.elementor-element-aa309b2 .elementor-icon-list-item:not(:last-child):after {
	content: "";
	height: 59%;
	border-color: var(--e-global-color-cdebdce);
}

.elementor-268 .elementor-element.elementor-element-aa309b2 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child):after {
	border-top-style: solid;
	border-top-width: 2px;
}

.elementor-268 .elementor-element.elementor-element-aa309b2 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:not(:last-child):after {
	border-left-style: solid;
}

.elementor-268 .elementor-element.elementor-element-aa309b2 .elementor-inline-items .elementor-icon-list-item:not(:last-child):after {
	border-left-width: 2px;
}

.elementor-268 .elementor-element.elementor-element-aa309b2 {
	--e-icon-list-icon-size: 6px;
	--e-icon-list-icon-align: right;
	--e-icon-list-icon-margin: 0 0 0 calc(var(--e-icon-list-icon-size, 1em) * 0.25);
}

.elementor-268 .elementor-element.elementor-element-aa309b2 .elementor-icon-list-text {
	color: var(--e-global-color-secondary);
	padding-left: 0px;
}

.elementor-268 .elementor-element.elementor-element-aa309b2 .elementor-icon-list-item:hover .elementor-icon-list-text {
	color: var(--e-global-color-secondary);
}

.elementor-268 .elementor-element.elementor-element-aa309b2 .elementor-icon-list-item>.elementor-icon-list-text,
.elementor-268 .elementor-element.elementor-element-aa309b2 .elementor-icon-list-item>a {
	font-family: "Montserrat", Sans-serif;
	font-size: 12px;
	font-weight: 400;
}

.elementor-268 .elementor-element.elementor-element-5d643a7:not(.elementor-motion-effects-element-type-background)>.elementor-widget-wrap,
.elementor-268 .elementor-element.elementor-element-5d643a7>.elementor-widget-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
	background-color: var(--e-global-color-secondary);
}

.elementor-268 .elementor-element.elementor-element-5d643a7>.elementor-element-populated {
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
	padding: 10px 70px 10px 70px;
}

.elementor-268 .elementor-element.elementor-element-5d643a7>.elementor-element-populated>.elementor-background-overlay {
	transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-268 .elementor-element.elementor-element-1642dd1 {
	text-align: center;
}

.elementor-268 .elementor-element.elementor-element-1642dd1 .elementor-heading-title {
	color: var(--e-global-color-primary);
	font-family: "Montserrat", Sans-serif;
	font-size: 12px;
	font-weight: 600;
}

@media(max-width:1024px) {
	.elementor-268 .elementor-element.elementor-element-4f2be9da {
		padding: 66px 40px 74px 40px;
	}

	.elementor-268 .elementor-element.elementor-element-3ab02496>.elementor-element-populated {
		padding: 0px 0px 0px 0px;
	}

	.elementor-268 .elementor-element.elementor-element-1fff57ca img {
		width: 30%;
	}

	.elementor-268 .elementor-element.elementor-element-62dd874 .elementor-heading-title {
		font-size: 35px;
	}

	.elementor-268 .elementor-element.elementor-element-41327a1e {
		--spacer-size: 67px;
	}

	.elementor-268 .elementor-element.elementor-element-660e2f9a .elementor-accordion-title {
		font-size: var(--e-global-typography-02de0db-font-size);
		line-height: var(--e-global-typography-02de0db-line-height);
		letter-spacing: var(--e-global-typography-02de0db-letter-spacing);
		word-spacing: var(--e-global-typography-02de0db-word-spacing);
	}

	.elementor-268 .elementor-element.elementor-element-660e2f9a .elementor-tab-content {
		font-size: var(--e-global-typography-02de0db-font-size);
		line-height: var(--e-global-typography-02de0db-line-height);
		letter-spacing: var(--e-global-typography-02de0db-letter-spacing);
		word-spacing: var(--e-global-typography-02de0db-word-spacing);
	}

	.elementor-268 .elementor-element.elementor-element-8bf14a8 .elementor-icon-list-item>.elementor-icon-list-text,
	.elementor-268 .elementor-element.elementor-element-8bf14a8 .elementor-icon-list-item>a {
		font-size: var(--e-global-typography-02de0db-font-size);
		line-height: var(--e-global-typography-02de0db-line-height);
		letter-spacing: var(--e-global-typography-02de0db-letter-spacing);
		word-spacing: var(--e-global-typography-02de0db-word-spacing);
	}

	.elementor-268 .elementor-element.elementor-element-43075b8f .elementor-icon-list-item>.elementor-icon-list-text,
	.elementor-268 .elementor-element.elementor-element-43075b8f .elementor-icon-list-item>a {
		font-size: var(--e-global-typography-02de0db-font-size);
		line-height: var(--e-global-typography-02de0db-line-height);
		letter-spacing: var(--e-global-typography-02de0db-letter-spacing);
		word-spacing: var(--e-global-typography-02de0db-word-spacing);
	}

	.elementor-268 .elementor-element.elementor-element-3b62e3b9 .elementor-icon-list-item>.elementor-icon-list-text,
	.elementor-268 .elementor-element.elementor-element-3b62e3b9 .elementor-icon-list-item>a {
		font-size: var(--e-global-typography-02de0db-font-size);
		line-height: var(--e-global-typography-02de0db-line-height);
		letter-spacing: var(--e-global-typography-02de0db-letter-spacing);
		word-spacing: var(--e-global-typography-02de0db-word-spacing);
	}

	.elementor-268 .elementor-element.elementor-element-3b62e3b9>.elementor-widget-container {
		margin: 0px -23px 0px 0px;
	}

	.elementor-268 .elementor-element.elementor-element-69643f26>.elementor-element-populated {
		padding: 0px 0px 0px 0px;
	}
}

@media(max-width:767px) {
	.elementor-268 .elementor-element.elementor-element-4f2be9da {
		padding: 84px 0px 42px 0px;
	}

	.elementor-268 .elementor-element.elementor-element-3ab02496>.elementor-element-populated {
		padding: 0px 0px 0px 0px;
	}

	.elementor-268 .elementor-element.elementor-element-4b7aa712 {
		width: 100%;
	}

	.elementor-268 .elementor-element.elementor-element-1fff57ca {
		text-align: center;
	}

	.elementor-268 .elementor-element.elementor-element-1fff57ca img {
		width: 15%;
	}

	.elementor-268 .elementor-element.elementor-element-4e86b2f5 {
		width: 100%;
	}

	.elementor-bc-flex-widget .elementor-268 .elementor-element.elementor-element-4e86b2f5.elementor-column .elementor-widget-wrap {
		align-items: flex-end;
	}

	.elementor-268 .elementor-element.elementor-element-4e86b2f5.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
		align-content: flex-end;
		align-items: flex-end;
	}

	.elementor-268 .elementor-element.elementor-element-4e86b2f5>.elementor-element-populated {
		margin: 0px 0px 0px 0px;
		--e-column-margin-right: 0px;
		--e-column-margin-left: 0px;
		padding: 0px 0px 0px 0px;
	}

	.elementor-268 .elementor-element.elementor-element-62dd874 {
		text-align: center;
	}

	.elementor-268 .elementor-element.elementor-element-62dd874 .elementor-heading-title {
		font-size: 35px;
	}

	.elementor-268 .elementor-element.elementor-element-62dd874>.elementor-widget-container {
		margin: 0px 0px 0px 0px;
		padding: 12px 050px 0px 50px;
	}

	.elementor-268 .elementor-element.elementor-element-41327a1e {
		--spacer-size: 28px;
	}

	.elementor-268 .elementor-element.elementor-element-61fba7f3>.elementor-element-populated {
		margin: 0px 0px 0px 0px;
		--e-column-margin-right: 0px;
		--e-column-margin-left: 0px;
		padding: 0px 0px 0px 0px;
	}

	.elementor-268 .elementor-element.elementor-element-79e902ab {
		text-align: center;
	}

	.elementor-268 .elementor-element.elementor-element-660e2f9a .elementor-accordion-title {
		font-size: var(--e-global-typography-02de0db-font-size);
		line-height: var(--e-global-typography-02de0db-line-height);
		letter-spacing: var(--e-global-typography-02de0db-letter-spacing);
		word-spacing: var(--e-global-typography-02de0db-word-spacing);
	}

	.elementor-268 .elementor-element.elementor-element-660e2f9a .elementor-tab-title {
		padding: 18px 15px 18px 15px;
	}

	.elementor-268 .elementor-element.elementor-element-660e2f9a .elementor-tab-content {
		font-size: var(--e-global-typography-02de0db-font-size);
		line-height: var(--e-global-typography-02de0db-line-height);
		letter-spacing: var(--e-global-typography-02de0db-letter-spacing);
		word-spacing: var(--e-global-typography-02de0db-word-spacing);
		padding: 14px 15px 30px 15px;
	}

	.elementor-268 .elementor-element.elementor-element-494dd632 {
		--spacer-size: 10px;
	}

	.elementor-268 .elementor-element.elementor-element-40175c5c {
		text-align: center;
	}

	.elementor-268 .elementor-element.elementor-element-8bf14a8 .elementor-icon-list-item>.elementor-icon-list-text,
	.elementor-268 .elementor-element.elementor-element-8bf14a8 .elementor-icon-list-item>a {
		font-size: var(--e-global-typography-02de0db-font-size);
		line-height: var(--e-global-typography-02de0db-line-height);
		letter-spacing: var(--e-global-typography-02de0db-letter-spacing);
		word-spacing: var(--e-global-typography-02de0db-word-spacing);
	}

	.elementor-268 .elementor-element.elementor-element-1339d80c {
		text-align: center;
	}

	.elementor-268 .elementor-element.elementor-element-43075b8f .elementor-icon-list-item>.elementor-icon-list-text,
	.elementor-268 .elementor-element.elementor-element-43075b8f .elementor-icon-list-item>a {
		font-size: var(--e-global-typography-02de0db-font-size);
		line-height: var(--e-global-typography-02de0db-line-height);
		letter-spacing: var(--e-global-typography-02de0db-letter-spacing);
		word-spacing: var(--e-global-typography-02de0db-word-spacing);
	}

	.elementor-268 .elementor-element.elementor-element-21611c7a {
		text-align: center;
	}

	.elementor-268 .elementor-element.elementor-element-3b62e3b9 .elementor-icon-list-item>.elementor-icon-list-text,
	.elementor-268 .elementor-element.elementor-element-3b62e3b9 .elementor-icon-list-item>a {
		font-size: var(--e-global-typography-02de0db-font-size);
		line-height: var(--e-global-typography-02de0db-line-height);
		letter-spacing: var(--e-global-typography-02de0db-letter-spacing);
		word-spacing: var(--e-global-typography-02de0db-word-spacing);
	}

	.elementor-268 .elementor-element.elementor-element-1e254d81 {
		--spacer-size: 10px;
	}

	.elementor-268 .elementor-element.elementor-element-6ab00190 {
		margin-top: 0px;
		margin-bottom: 0px;
	}

	.elementor-268 .elementor-element.elementor-element-2c012d2c .elementor-icon-list-item>.elementor-icon-list-text,
	.elementor-268 .elementor-element.elementor-element-2c012d2c .elementor-icon-list-item>a {
		font-size: 16px;
	}

	.elementor-268 .elementor-element.elementor-element-b1e0e91 .elementor-icon-list-item>.elementor-icon-list-text,
	.elementor-268 .elementor-element.elementor-element-b1e0e91 .elementor-icon-list-item>a {
		font-size: 13px;
	}

	.elementor-268 .elementor-element.elementor-element-b1e0e91>.elementor-widget-container {
		margin: 0px 0px 0px 0px;
		padding: 24px 0px 10px 0px;
	}

	.elementor-268 .elementor-element.elementor-element-34c27b8 .elementor-icon-list-item>.elementor-icon-list-text,
	.elementor-268 .elementor-element.elementor-element-34c27b8 .elementor-icon-list-item>a {
		font-size: 16px;
	}

	.elementor-268 .elementor-element.elementor-element-34c27b8>.elementor-widget-container {
		margin: 0px 0px 0px 0px;
		padding: 28px 0px 40px 015px;
	}

	.elementor-268 .elementor-element.elementor-element-aa309b2 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child) {
		padding-bottom: calc(12px/2);
	}

	.elementor-268 .elementor-element.elementor-element-aa309b2 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child) {
		margin-top: calc(12px/2);
	}

	.elementor-268 .elementor-element.elementor-element-aa309b2 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item {
		margin-right: calc(12px/2);
		margin-left: calc(12px/2);
	}

	.elementor-268 .elementor-element.elementor-element-aa309b2 .elementor-icon-list-items.elementor-inline-items {
		margin-right: calc(-12px/2);
		margin-left: calc(-12px/2);
	}

	body.rtl .elementor-268 .elementor-element.elementor-element-aa309b2 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
		left: calc(-12px/2);
	}

	body:not(.rtl) .elementor-268 .elementor-element.elementor-element-aa309b2 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
		right: calc(-12px/2);
	}

	.elementor-268 .elementor-element.elementor-element-aa309b2 .elementor-icon-list-item>.elementor-icon-list-text,
	.elementor-268 .elementor-element.elementor-element-aa309b2 .elementor-icon-list-item>a {
		font-size: 13px;
	}

	.elementor-268 .elementor-element.elementor-element-aa309b2>.elementor-widget-container {
		margin: 0px 0px 0px 0px;
		padding: 20px 50px 0px 50px;
	}

	.elementor-268 .elementor-element.elementor-element-5d643a7>.elementor-element-populated {
		padding: 15px 15px 15px 15px;
	}

	.elementor-268 .elementor-element.elementor-element-1642dd1 .elementor-heading-title {
		font-size: 10px;
		line-height: 1.3em;
	}
}

@media(min-width:768px) {
	.elementor-268 .elementor-element.elementor-element-4b7aa712 {
		width: 69.947%;
	}

	.elementor-268 .elementor-element.elementor-element-4e86b2f5 {
		width: 30%;
	}

	.elementor-268 .elementor-element.elementor-element-61fba7f3 {
		width: 24.34%;
	}

	.elementor-268 .elementor-element.elementor-element-1ab06fe9 {
		width: 21.156%;
	}

	.elementor-268 .elementor-element.elementor-element-21bd4fae {
		width: 24.076%;
	}

	.elementor-268 .elementor-element.elementor-element-38c4f53d {
		width: 30.38%;
	}

	.elementor-268 .elementor-element.elementor-element-35466b2 {
		width: 31.363%;
	}

	.elementor-268 .elementor-element.elementor-element-fd0f9e4 {
		width: 27.564%;
	}

	.elementor-268 .elementor-element.elementor-element-561b2dbe {
		width: 11.799%;
	}

	.elementor-268 .elementor-element.elementor-element-69643f26 {
		width: 29.179%;
	}
}

@media(max-width:1024px) and (min-width:768px) {
	.elementor-268 .elementor-element.elementor-element-4b7aa712 {
		width: 50%;
	}

	.elementor-268 .elementor-element.elementor-element-4e86b2f5 {
		width: 50%;
	}

	.elementor-268 .elementor-element.elementor-element-35466b2 {
		width: 40%;
	}

	.elementor-268 .elementor-element.elementor-element-561b2dbe {
		width: 30%;
	}

	.elementor-268 .elementor-element.elementor-element-69643f26 {
		width: 30%;
	}
}

/* Start custom CSS for section, class: .elementor-element-4f2be9da */
.elementor-268 .elementor-element.elementor-element-4f2be9da {
	overflow: hidden;
}

/* End custom CSS */
/* Start Custom Fonts CSS */